doctype
html
  head
    title #{title}
    link(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/")
    link(rel="stylesheet" href="/main.css")
    script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js")
    link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css")
  body
    != yield
