doctype
html
  head
    title #{title}
    link(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/")
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
  body
    != yield
