.header
  h1 Florent Kirchner
  nav
    ul
      li: a(class="fa fa-fw fa-twitter" href="http://twitter.com/__ftk")
      li: a(class="fa fa-fw fa-github" href="https://github.com/fkirchner")
      li: a(class="fa fa-fw fa-stack-overflow" href="http://stackoverflow.com/users/303793/ftk")
      li: a(class="fa fa-fw fa-folder-open" href="http://dblp.uni-trier.de/pers/hd/k/Kirchner:Florent.html")
      li: a(class="fa fa-fw fa-linkedin-square" href="https://www.linkedin.com/in/fkirchner")
  h3 Head of the Software Safety and Security Laboratory at List, CEA

.map
  h2 Contact
  .icon
    span(class="fa fa-location-arrow")
  script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js")
  iframe(allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" src="./map.html")
    // todo: link to Coming_to_Nano_INNOV.pdf
  .contact
    .type
      p Mail
      p Phone
      p Address
    .field
      p first.last@cea.fr
      p +33 (0) 169 080 010
      p
        address
          | CEA Saclay Nano-INNOV
          br
          | Point Courrier 174
          br
          | 91191 Gif-sur-Yvette
          br
          | France

.tools
  h2 Tools
  .icon
    span(class="fa fa-wpexplorer")
  p The Software Safety and Security Laboratory develops tools and methods that assist and automate the software verification process. We deploy them in industries where high-confidence implementations are critical &ndash; transportation, energy, communications.
  .firsttool
    .banner
      a(href="http://binsec.gforge.inria.fr")
        img(class="banner" src="assets/img/binsec.png")
    .desc
      | Binary code analysis platform
  .tool
    .banner
      a(href="http://www.frama-c.com")
        img(class="banner" src="assets/img/frama-c.png")
    .desc
      | Source code analysis platform
  .firsttool
    .banner
      img(class="banner" src="assets/img/gatel.png")
    .desc
      | Synchronous models analysis tool
  .tool
    .banner
      a(href="http://unisim-vp.org")
        img(class="banner" src="assets/img/unisim.png")
    .desc
      | Virtualization framework for hardware platforms 

.writing
  h2 Writing
  .icon
    span(class="fa fa-comments-o")

  .twitter
    p Tweets
    a(class="twitter-timeline"
      href="https://twitter.com/__ftk"
      data-tweet-limit="5"
      data-chrome="transparent noheader nofooter noborders"
        ) https://twitter.com/__ftk
    script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")

  .bib
    p Publications
      span(class="attribution") scripted by 
        a(href="https://bibbase.org") BibBase
    script(src="https://bibbase.org/dblp/Kirchner:Florent?jsonp=1&theme=simple")
      // todo: custom file
      // http://bibbase.org/show?bib=/fk.bib&jsonp=1&theme=simple


.footer
  .icon
    span(class="fa fa-copyright")
  h4 2017

