.parallax

  .head.parallax-layer.parallax-back
    h1 Florent Kirchner
    h3 Engineer, scientist, head of the Software Security Laboratory at List.
    nav
      ul
        li: a twitter
        li: a github
        li: a stackoverflow
        li: a dblp
        // todo: icons

    span(id="arrow") ...
      //todo: make img

  .writing.parallax-front
    h2 Writing

    .twitter
      p Recent tweets
      a(class="twitter-timeline"
        href="https://twitter.com/__ftk"
        data-tweet-limit="5"
        data-chrome="transparent noheader nofooter noborders"
          ) https://twitter.com/__ftk
      script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")

    .bib
      p Publications
        span(class="attribution") script from 
          a(href="https://bibbase.org") BibBase
      script(src="https://bibbase.org/dblp/Kirchner:Florent?jsonp=1&theme=simple")
        // todo: custom file
        // http://bibbase.org/show?bib=/fk.bib&jsonp=1&theme=simple

  .map.parallax-back
    h2 Contact
    iframe(allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" src="./map.html")

    .contact
      p Mail, phone

// todo: footer?

