h1 Florent Kirchner
h3 Engineer, scientist, head of the Software Security Laboratory at List.


div(class="twitter")
  p Twitter handle 
    a(href='https://twitter.com/__ftk') @__ftk
  a(class="twitter-timeline"
    href="https://twitter.com/__ftk"
    data-tweet-limit="3"
    data-chrome="transparent noheader nofooter noborders"
      ) https://twitter.com/__ftk
  script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")

div(class="bib")
  script(src="https://bibbase.org/dblp/Kirchner:Florent?jsonp=1&theme=simple")

