h1 Florent Kirchner
h3 Engineer, scientist, head of the Software Security Laboratory at List.


// todo : correctly grid

div(class="col")
  script(src="https://bibbase.org/dblp/Kirchner:Florent?jsonp=1&theme=simple")

div(class="col")
  a(class="twitter-timeline",href="https://twitter.com/__ftk",data-tweet-limit="3",data-chrome="transparent noheader nofooter noborders") https://twitter.com/__ftk
  script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")

