@import "susy"
$susy: (columns: 12, gutters: .25, gutter-position: before, container: auto, debug: (image: show, color: blue, output: overlay, toggle: top right,),)
// $susy: (columns: 12, gutters: .25, gutter-position: before, container: auto)


$bg-color: #f4f4f4
$fg-color: #444
$hi-color: #95001a
$map-height: 400px

body
  margin: 0
  width: 100%
  height: 100%
  background: $bg-color
  color: $fg-color
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif
  font-weight: 300
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  letter-spacing: 0.02em

h1
  font-weight: 300
  // border-bottom: #CCC solid 1px

h2
  margin: 0
  font-weight: 300

h3
  margin: 0
  font-weight: 300

p
  // font-weight: 300

a
  color: #3b94d9

/* DIVS *********************************************************************/
/****************************************************************************/

div.header
  @include span(first 11)

div.writing
  @include span(last 12)

div.tools
  @extend div.writing
  p
    text-align: center
  div.banner
    height: 10em
    position: relative
    img.banner
      max-width: 80%
      max-height: 80%
      margin: auto
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0

div.col
  font-weight: 300
  text-align: left
  padding: 2em 0;

div.twitter
  @include span(isolate 4 at 2 of 12)
  @extend .col

div.bib
  @include span(isolate 6 at 6 of 12)
  @extend .col

div.firsttool
  @include span(first 2 of 12)
  @extend .col

div.tool
  @include span(2 of 12)
  @extend .col

div#bibbase_header
  display: none

span.attribution
  position: absolute
  right: 10vw
  font-style: italic
  font-size: 0.8em

div.map
  @include span(first 11)
  iframe
    border: #CCC solid 1px
    @include span(first 7 of 11)
    height: $map-height
  div.contact
    @include span(last 3 of 11)
    div.type
      @include span(isolate 1 at 1 of 11)
      @extend .col
    div.field
      @include span(isolate last 6 at 4 of 11)
      @extend .col

div.footer
  @include span(first 11)
  span.fa
    font-size: smaller

/* ICON BAR *****************************************************************/
/****************************************************************************/

nav
  ul
    margin: 0
    padding: 0
    list-style: none
  li
    display: inline-block
  a
    display: block
    padding: 6px 12px
    text-decoration: none

