@import "susy"
$susy: (columns: 12, gutters: .25, gutter-position: before, container: 80%, container-position: center, debug: (image: show, color: rgba(0,0,1,0.5), output: overlay, toggle: top right,),)
// $susy: (columns: 12, gutters: .25, gutter-position: before, container: auto)

$bg-color: #f4f4f4
$fg-color: #444
$hi-color: #95001a
$map-height: 400px
$spacing: 1em;

body
  @include container
  width: 100%
  height: 100%
  background: $bg-color
  color: $fg-color
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif
  font-weight: 300
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  letter-spacing: 0.02em

h1
  font-weight: 300
  // border-bottom: #CCC solid 1px

h2
  margin: 0
  font-weight: 300
  // border: #CCC solid 1px

h3
  margin: 0
  font-weight: 300

p
  // font-weight: 300

a
  color: #3b94d9

/* DIVS *********************************************************************/
/****************************************************************************/

div.generic
  @include span(12)
  border: #CCC solid 1px
  padding: $spacing 0

div.contrast
  color: invert($fg-color)
  background: transparentize(invert($bg-color),0.25)

div.header
  @extend div.generic
  h1
    @include span(4 of 12)
    margin-top: 0
    margin-bottom: $spacing
  h3
    @include span(8 of 12)

div.writing
  @extend div.generic
  div.twitter
    @include span(4 at 2 of 12)
    @extend .col

  div.bib
    @include span(6 at 6 of 12)
    @extend .col

  div#bibbase_header
    display: none

  span.attribution
    @include span (last 2 of 6)
    // position: absolute
    // right: 10vw
    font-style: italic
    font-size: 0.8em

div.tools
  @extend div.generic
  @extend div.contrast
  p
    text-align: center
  div.firsttool
    @include span(first 2 of 12)
    @extend .col
  div.tool
    @include span(2 of 12)
    @extend .col
  div.banner
    height: 10em
    position: relative
    img.banner
      max-width: 80%
      max-height: 80%
      margin: auto
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0

div.col
  font-weight: 300
  text-align: left
  padding: 0;

div.map
  @extend div.generic
  iframe
    border: #CCC solid 1px
    @include span(7 at 2 of 12)
    height: $map-height
  div.contact
    @include span(last 4 of 12)
    div.type
      @include span(first 1 of 4)
      @extend .col
    div.field
      @include span(last 3 of 4)
      @extend .col

div.footer
  @extend div.generic
  @extend div.contrast
  span.fa
    font-size: smaller

/* ICON BAR *****************************************************************/
/****************************************************************************/

nav
  @include span(last 3 of 12)
  ul
    margin: 0
    padding: 0
    list-style: none
  li
    display: inline-block
  a
    display: block
    padding: 6px 12px
    text-decoration: none

