doctype
html
  head
    title #{title}
    link(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/")
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css")
    link(rel="preload" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js" as="script")
    script(src="https://use.fontawesome.com/c64d7b7216.js")
  body
    != yield
