@import "susy"
// $susy: (columns: 12, gutters: .25, gutter-position: after, container: 80%, container-position: center, debug: (image: show, color: rgba(0,0,1,0.5), output: overlay, toggle: top right,),)
$susy: (columns: 12, gutters: .25, gutter-position: after, container: 80%)

$bg-color: #fbfbfb
$fg-color: #333
$hi-color: $fg-color+#999 //#95001a
$link-color: #3b94d9
$map-height: 200px
$spacing: 2em;
$border: none //$hi-color+#222 solid 1px
$border-vert: 2px solid white

body
  @include container
  width: 100%
  height: 100%
  margin-top: 0
  margin-bottom: 0
  background: $bg-color
  color: $fg-color
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif
  font-weight: 300
  letter-spacing: 0.02em
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h2
  @include span(11)
  margin: 0
  margin-bottom: 1em
  font-weight: 300
  color: $hi-color
  text-transform: uppercase
  font-size: large

a
  color: $link-color

/* DIVS *********************************************************************/
/****************************************************************************/

div.generic
  @include span(last 12)
  border: $border
  border-bottom: none
  border-left: none
  border-right: none
  padding: $spacing 0

div.contrast
  color: invert($fg-color)
  background: transparentize(invert($bg-color),0.3)
  div.icon
    color: invert($hi-color)

div.icon
  @include span(1)
  text-align: right
  font-size: x-large
  color: $hi-color

div.header
  @extend div.generic
  border-top: none
  margin-top: 2*$spacing
  margin-bottom: $spacing
  h1
    @include span(7 of 12)
    margin-top: 0
    margin-bottom: ($spacing/(2*1.516))
    margin-left: span(1 wide of 12)
    font-weight: 600
  h3
    @include span(11 of 12)
    margin-top: 0
    margin-left: span(1 wide of 12)
    margin-bottom: $spacing
    font-weight: 300
  nav
    @include span(last 4 of 12)
    ul
      margin: 0
      padding: 0
      list-style: none
    li
      display: inline-block
      // width: span(1 wide of 4)
      // background-color: $link-color
    a
      display: block
      padding-top: 6px
      padding-bottom: 6px
      padding-right: 12px
      text-decoration: none
      // color: $bg-color

div.map
  @extend div.generic
  iframe
    border: none
    @include span(6 of 12)
    height: $map-height
    margin-left: span(1 wide of 12)
  div.contact
    @include span(last 4 of 12)
    div.type
      @include span(first 1 of 4)
      @extend .col
      border-right: $border-vert
      color: $hi-color
      text-transform: uppercase
      // font-size: small
      height: $map-height
    div.field
      @include span(2 of 4)
      @extend .col

div.tools
  @extend div.generic
  // @extend div.contrast
  p
    @include span(10)
    margin: 0
    margin-left: span(1 wide of 12)
    margin-bottom: 1.5*$spacing
  div.firsttool
    @include span(5 of 12)
    @extend .col
    margin-left: span(1 wide of 12)
    div.banner
      img.banner
        height: 2.5em
  div.tool
    @include span(5 of 12)
    @extend .col
  div.desc
    @include span(2 of 5)
  div.banner
    @include span(first 2 of 5)
    height: 4em
    border-right: $border-vert
    img.banner
      max-width: 90%
      max-height: 90%

div.writing
  @extend div.generic
  div.twitter
    @include span(3 of 12)
    @extend .col
    margin-left: span(1 wide of 12)
  div.bib
    @include span(5 at 7 of 12)
    @extend .col
    margin-left: span(1 wide of 12)
  div#bibbase_header
    display: none
  span.attribution
    @include span (last 2 of 5)
    font-style: italic
    font-size: small

div.col
  // font-weight: 300
  text-align: left
  padding: 0
  margin-bottom: 1em

div.footer
  @extend div.generic
  // @extend div.contrast
  font-size: smaller
  h4
    @include span(last 11)
    margin: 0
    font-weight: 300
  div.icon
    font-size: small


